@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    overflow-x: hidden;
}

.iconoCarrito {
    color: white;
    width: 30px;
    height: 30px;
}

.text-bold-400 {
    font-weight: 400;
}

.text-bold-700 {
    font-weight: 700;
    color: black;
}

.button {
    background-color: black;
    border: 1px black solid;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 100%;
}

.button:hover {
    background-color: black;
    color: white;
}

.card {
    border-radius: 0;
    border-color: white !important;
}

.card:hover {
    border: 1px solid black !important;
    border-radius: 0;
}

.buttonItemCount {
    background-color: black;
    border: 1px black solid;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    width: 25px;
    height: 25px;
    font-size: 15px;
}

.buttonIrCarrito {
    background-color: white;
    border: 1px black solid;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 100%;
}

.buttonIrCarrito:hover {
    background-color: black;
    border: 1px black solid;
    color: white;
}

.imgCarrito {
    width: 175px;
    height: auto;
}

.w-175 {
    width: 175px;
}

.text-right {
    text-align: end !important;
}